[MASTER]
disable=
    missing-docstring,
    too-few-public-methods,
    protected-access,
    line-too-long,

[FORMAT]
max-line-length=120

[DESIGN]
max-attributes=7
max-args=5

[BASIC]
good-names=i,j,k,ex,Run,_,id,x,y,z
